:root {
  --bg-primary:#6C2D2D;
  --bg-secondary:#484545;
  --bg-tertiary:#D9D9D9;
  --color-primary:#FFFFFF;
  --color-secondary:#000000;
  --color-text: #FFF5E4;

  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Roboto', sans-serif;
  --font-tertiary: 'Lato', sans-serif;


  --border-radius: 10px;
  --box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.15);
  --box-shadow-secondary: 0 2px 18px 0 rgba(0, 0, 0, 0.22);
  

}
  